<h1>Parking Lot</h1>

<hr />

<h3>Search</h3>

<%= form_with url: find_license_parking_spots_path, method: :get do |form| %>
  <div>
    <%= form.label :license, "License" %>
    <%= form.text_field :license %>
    <%= form.submit 'Find Car' %>
  </div>
<% end %>

<br />

<%= form_with url: find_color_parking_spots_path, method: :get do |form| %>
  <div>
    <%= form.label :color, "Color" %>
    <%= form.text_field :color %>
    <%= form.submit 'Find Car' %>
  </div>
<% end %>

<% if flash[:car_search_result] %>
  <p><%= flash[:car_search_result] %></p>
<% end %>

<hr />

<h3>Parking</h3>

<%= form_with url: park_parking_spots_path do |form| %>
  <div>
    <%= form.label :license, "License" %>
    <%= form.text_field :license %>
    <%= form.label :color, "Color" %>
    <%= form.text_field :color %>
    <%= form.submit 'Park Car' %>
  </div>
<% end %>

<hr />

<%= form_with model: @parking_spot do |form| %>
  <div>
    <%= form.label :number, "Add slot number:" %>
    <%= form.text_field :number %>
    <%= form.submit "Add Spot" %>
  </div>
<% end %>

<br />

<div>
  <table>
    <thead>
      <tr>
        <th>Slot No.</th>
        <th>License</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <% @parking_spots.each do |spot| %>
        <tr>
          <td><%= spot.number %></td>
          <td><%= spot.car&.license || "Empty" %></td>
          <td><%= spot.car&.color || "N/A" %></td>
          <td>
            <%= button_to "Leave car", leave_parking_spot_path(spot), method: :delete %>
            <%= button_to "Delete spot", parking_spot_path(spot), method: :delete %>
          <td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
